@tailwind base;
@tailwind components;
@tailwind utilities;



.header-bg {
    background: hsl(180, 29%, 50%)
  }
  .new-bg, .border {
    background: hsl(180, 29%, 50%)
  }
  .text {
    color: hsl(180, 29%, 50%);
    border-radius: 10px;
  }
  .text:hover {
    color: white;
    background: hsl(180, 29%, 50%)
  }
  .gray-bg {
    background: hsl(180, 52%, 96%);
  }